registry="https://registry.npmmirror.com/"
disturl="https://npmmirror.com/mirrors/node/"
puppeteer-download-base-url="https://cdn.npmmirror.com/binaries/chrome-for-testing"
sharp_binary_host="https://npmmirror.com/mirrors/sharp"
sharp_libvips_binary_host="https://npmmirror.com/mirrors/sharp-libvips"
canvas_binary_host_mirror="https://npmmirror.com/mirrors/canvas"